@import "tailwindcss";

* {
  font-family: var(--font-silka);
  outline: none;
}

html,
body {
  display: flex;
  flex-direction: column;

  min-width: 375px;

  height: 100vh;
  height: 100dvh;

  min-height: 100vh;
  min-height: 100dvh;

  overflow-x: hidden;
}

body.system {
  background-color: white;
  color: black;
}

body.store {
  background-color: white;
  color: black;
}

.font-itsa-bold {
  font-family: var(--font-itsa);
  font-weight: 700;
}

.font-itsa-regular {
  font-family: var(--font-itsa);
  font-weight: 400;
}
